@import "config";

.buttons {
  display: flex;
  max-width: 500px;
  //margin: 0 $gutter;
  height: 40px;
  margin: auto;
  justify-content: space-between;

  .button {
    &__header {
      @include rounded;
      height: 48px;
      padding: 10px 15px;
      font-size: 1.5em;
      font-weight: bold;
      box-shadow: 1px 1px 1px $color--Gray;

    }

    &__active {
      background-color: $color--LimeGreen;
    }
  }
}
