@import "config.scss";

.cards {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  padding-top: $gutter;
  padding-bottom: $gutter;
  text-align:left;

  &__row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
    margin-left: -10px;
    margin-right: -10px;

    @media(min-width: 700px) {
      flex-direction: row;
    }
  }
}

.col {
  width: 100%;

  margin-bottom: $gutter;
  margin-top: $gutter;

  padding-left: 0.5*$gutter;
  padding-right: 0.5*$gutter;

  @media(min-width: 700px) {
    width: 33.33333%;
  }
}

.card {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  text-decoration: none;

  @media(min-width: 700px) {
    z-index: -1;
  }
}

.text {
  background-color: $color--Lightlightgrey;
  padding: 0.5*$gutter;
  color: $color--Black;
}

.group {
  text-transform: uppercase;
}

.title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.img--noImg {
  height: 0px;
  background-color: $color--Lightlightgrey;

  @media(min-width: 700px) {
    height: 100%;
  }
}

@media(min-width: 700px) {
  .main {
    padding: 0;
  }
}


       
        // <div class="card fyrirlestur">
        //   <div class="image image--found">
        //     <img class="img">
        //   </div>
        //   <div class="text">
        //     <h2 class="group"></h3>
        //     <h1 class="title"></h1>
        //   </div>
        // </div>  