@import "config.scss";

.cards {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  padding-top: $gutter;
  padding-bottom: $gutter;
  text-align: left;

  &__row {
    display: flex;
    margin-right: -10px;

    margin-left: -10px;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }
}

.col {
  width: 100%;
  padding-right: 0.5*$gutter;

  padding-left: 0.5*$gutter;
  margin-top: $gutter;

  margin-bottom: $gutter;

  @media (min-width: 700px) {
    width: 33.33333%;
  }
}

.card {

  display: flex;
  width: 100%;
  height: 100%;

  text-decoration: none;
  flex-direction: column;

  @media (min-width: 700px) {
    z-index: -1;
  }
}

.text {
  padding: 0.5*$gutter;
  margin-top: -5px;
  color: $color--Black;
  background-color: $color--Lightlightgrey;

  &__check {
    color: $color--LimeGreen;

    &--notChecked {
      color: transparent;
    }
  }
}

.group {
  text-transform: uppercase;
}

.title {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.img--noImg {
  height: 0;
  background-color: $color--Lightlightgrey;

  @media (min-width: 700px) {
    height: 100%;
  }
}

@media (min-width: 700px) {
  .main {
    padding: 0;
  }
}


// <div class="card fyrirlestur">
//   <div class="image image--found">
//     <img class="img">
//   </div>
//   <div class="text">
//     <h2 class="group"></h3>
//     <h1 class="title"></h1>
//   </div>
// </div>
