@import "config.scss";

.cards {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  padding-top: $gutter;
  padding-bottom: $gutter;
  text-align:left;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-left: -10px;
  margin-right: -10px;
}

.col {
  //width: 100%;
}

.card {
  width: 100%;
  margin-bottom: $gutter;
  margin-top: $gutter;

  display: flex;
  flex-direction: column;
}

.text {
  background-color: $color--Lightlightgrey;
  padding: 0.5*$gutter;
}

.group {
  text-transform: uppercase;
}

.img--noImg {
  height: 0px;
}


       
        // <div class="card fyrirlestur">
        //   <div class="image image--found">
        //     <img class="img">
        //   </div>
        //   <div class="text">
        //     <h2 class="group"></h3>
        //     <h1 class="title"></h1>
        //   </div>
        // </div>  