@import "config";

.header {
  position: relative;
  width: 100%;

  height: 265px;

  padding-top: 3*$gutter;
  margin-bottom: 1.5*$gutter;
  // background: url("../img/header.jpg");
  background-size: cover;

  &__protection {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    background-color: rgba($color: $color--Lightlightgrey, $alpha: 0.5);
    flex-grow: 1;
  }

  &__efri {
    position: relative;
    z-index: 1;
    padding-top: $gutter;
    margin-top: 3*$gutter;
    font-family: $Roboto;
    text-align: center;
    text-transform: uppercase;
    @include font(1);
  }

  &__nedri {
    z-index: 1;
    margin-bottom: 4*$gutter;
    font-family: $Roboto;
    font-weight: 900;
    text-align: center;
    @include font(4);
  }
}
