@import "config";

main{
 max-width:800px;
 margin:auto;
}
.lecture{
 &__heading{
  text-align:left;
  margin:$gutter;
  font-family:$Roboto;
 }
 &__quote{
  text-align:left;
  background-color:$color--Lightlightgrey;
  margin:20px 0;
  padding:15px 20px;
  font-family:$font-main;
  &__quote{
   margin-bottom: 10px;
  }
  &__quoter{
   padding-bottom:10px;
   font-style: italic;
  }
 }
 &__video{
  &__video{
    width: 100%;
    height: 55vh;
  }
 }
 &__text{
  text-align:left;
  line-height:1.5em;
  font-family:$font-main;
  p{
   margin:$gutter;
  }
 }
 &__list{
  text-align:left;
  line-height:1.5em;
  margin:$gutter;
  font-family:$font-main;
 }
 &__image{
  margin:$gutter;
  &__caption{
   text-align:left;
   font-family:$font-main;
  }
 }
 &__code{
  margin:$gutter;
  text-align:left;
 }
}

