@import "config";

.lecture {
  &__main {
    max-width: 800px;
    margin: auto;
  }

  &__heading {
    margin: $gutter;
    font-family: $Roboto;
    text-align: left;
  }

  &__quote {
    padding: 15px 20px;
    margin: 20px 0;
    font-family: $font-main;
    text-align: left;
    background-color: $color--Lightlightgrey;

    &__quote {
      margin-bottom: 10px;
    }

    &__quotee {
      font-style: italic;
    }
  }

  &__video {
    position: relative;

    padding-top: $gutter;
    padding-bottom: 50%;
    overflow: hidden;

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  &__text {
    font-family: $font-main;
    line-height: 1.5em;
    text-align: left;

    p {
      margin: $gutter;
    }
  }

  &__list {
    margin: $gutter;
    font-family: $font-main;
    line-height: 1.5em;
    text-align: left;
  }

  &__image {
    margin: 2*$gutter $gutter;

    &__caption {
      font-family: $font-main;
      text-align: left;
    }
  }

  &__code {
    margin: $gutter;
    text-align: left;
  }

  &__check {
    margin: $gutter 0;

    &__active {
      color: $color--LimeGreen;
    }
  }

  &__back {
    margin: $gutter 0;

    &__link {
      color: $color--Black;
      text-decoration: none;
    }
  }
}
