@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  width: 100%;
}

main{
  display: flex;
  margin:auto;
  text-align:center;
  max-width:1200px;
  justify-content: center;
}

.grid{
  font-family:$Roboto;
  width: 100%;
  margin: 0 $gutter;

  @media(min-width: 1200px) {
    margin: 0;
  }
}

// TODO import
@import "cards.scss";
@import "header.scss";
@import "buttons";
@import "lecture.scss";
